  <br/>
  <br>
  <div class="row">
    <div class="col">
      <div class="panel panel-default">
        <div class="panel-body">
        
        </div>
      </div>
    </div>

    <div class="col-6 scroll-center-column">
      <% @posts.each do |p| %>
          <%= render partial: 'tweet', locals: {p: p} %>
            <br/>
      <% end %>
    </div>
  
    <div class="col">
       <%= render 'pages/whoto' %>
       <div class="panel panel-default">
        <div class="panel-body">
          <p class="side-panel">about
          
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <p class="side-panel" style="opacity: 50%;">
            <small>
              Terms of Service
            Privacy Policy
            Cookie Policy
            Ads info
            More
            © 2021 Twitter, Inc.
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

